#demo
    padding: 80px 0
    .box
        border-radius: 20px
        background: #a86c46
        padding: 20px 25px
        h3
            font-size: 35px
            font-weight: 600
            color: #ffff
        .btn
            background-color: #ffff
            border-radius: 20px
            padding: 10px 25px

        input
            padding: 16px 27px
            margin: 15px 0
            border-radius: 22px

    .minibox
        margin-top: 25px
        h2
            border: 1px solid #314dc7
            margin-top: 10px
            border-radius: 20px
            padding: 7px
            width: 150px
